.add-todo {
  padding: 1rem;
  width: 100%;
  background: var(--card-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-todo button {
  margin-left: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: var(--primary-color);
  border: 0;
  color: white;
  cursor: pointer;
  transition: 150ms;
}

.add-todo button:hover {
  background: var(--primary-color-hover);
}

.add-todo input {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: var(--background-color);
  border: 0;
  outline: 0;
  color: var(--text-color);
}

.add-todo input:placeholder {
  color: var(--secondary-text-color);
}
